.HomeView {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.HomeView_header {
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  color: white;
  width: 85%;
  font-weight: 400;
}

.HomeView_contacts {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  padding: 10px 20px;
  color: white;
  font-size: 30px;
  font-weight: 500;
  text-decoration: none;
  border: white 3px solid;
  border-radius: 5px;
  transition: border, color 0.5s 0s ease;
}

.HomeView_contacts:hover,
.HomeView_contacts:focus {
  color: rgb(149, 241, 206);
  border: rgb(149, 241, 206) 3px solid;
}
