.UserMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.UserMenu_email {
  font-weight: 500;
  color: white;
  margin: 0 7px 0;
  text-decoration: underline;
  pointer-events: none;
}

.UserMenu_button {
  margin: 0 7px 0;
  width: 80px;
  height: 35px;
  background-color: transparent;
  color: white;
  border: white 2px solid;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 550;
  font-size: 15px;
  transition: border, color 0.5s 0s ease;
}

.UserMenu_button:hover,
.UserMenu_button:focus {
  color: rgb(149, 241, 206);
  border: rgb(149, 241, 206) 2px solid;
}
